.page-choose-place .place-item {
    background: #fff;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    position: relative;
}

.page-choose-place .place-image {
    width: 60px;
    height: 60px;
    margin: 0 10px 10px 0;
}

.page-choose-place .place-name {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}

.page-choose-place .place-address {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #666;
}
.page-choose-place .place-schedule.disable span,
.page-choose-place .place-item.disable .place-address,
.page-choose-place .place-item.disable .place-name {
    color: #cecece;
}


.page-choose-place .sprite-angle-down,
.page-choose-place .sprite-angle-up {
    transition: 300ms;
}

.page-choose-place .place-schedules {
    border-top: 1px solid #f0f0f0;
}

.page-choose-place .place-schedule {
    display: inline-block;
    width: 33.33333%;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    margin: 10px 0 10px -1px;
}

.page-choose-place .place-schedule.active {
    position: relative;
    border: 1px solid #e968a1;
    margin: 0;
    padding: 10px 0;
    margin: -1px 0 0 -1px;
    z-index: 1;
    background-image: url(../../image/check-corner.png);
    background-size: 18px auto;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.page-choose-place .place-schedule span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.page-choose-place .place-schedule:last-child:not(.active) {
    border-right: 1px solid #fff;
}

.page-choose-place .place-status {
    font-size: 12px;
    color: #e968a1;
    line-height: 80px;
}

.page-choose-place .footer {
    height: 52px;
    width: 100%;
}
.page-choose-place .footer-wrapper {
    height: 52px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
